.container.margin-top50
  %h2.u-margin-bottom-md.text-center
    Join us

  .grid-layout.grid-layout3
    %a.tile-resource.grid-item{ href: "https://gitlab.com/users/sign_in" }
      .tile-background-container{ style: "background-image: url('/images/feature-thumbs/feature-thumb-join-gitlab.png');" }
      .tile-info
        %h4.tile-title
          Join GitLab.com
        %p.tile-description
          Complete the online application to begin hosting and exploring projects.
        %p.tile-link
          Sign up
          %i.fas.fa-arrow-right

      %a.tile-resource.grid-item{ href: "https://www.alldaydevops.com/register?utm_campaign=2018%20All%20Day%20DevOps&utm_source=SPONSOR%20-%20Registration%20(GitLab)&utm_medium=GitLab", target: "_blank" }
        .tile-background-container{ style: "background-image: url('/images/feature-thumbs/feature-thumb-all-day-devops.png');" }
        .tile-info
          %h4.tile-title
            All Day DevOps
          %p.tile-description
            Live, 100 Speakers, 24 hours, free online event
          %p.tile-link
            Join us
            %i.fas.fa-arrow-right

      %a.tile-resource.grid-item{ href: "/webcast/weekly-demo/" }
        .tile-background-container{ style: "background-image: url('/images/feature-thumbs/feature-thumb-demo.png');" }
        .tile-info
          %h4.tile-title
            GitLab Weekly Demo with Q&A
          %p.tile-description
            Join us for a product demo with live Q&A.
          %p.tile-link
            Join us
            %i.fas.fa-arrow-right
